/* <An+B>
Represents elements whose numeric position in a series of siblings matches the pattern An+B, 
for every positive integer or zero value of n, where:

A is an integer step size,
B is an integer offset,
n is all nonnegative integers, starting from 0. */


/* 
1 1 1 1 2 2
1 1 1 1 2 2
1 1 1 1 3 3
1 1 1 1 3 3
4 4 4 5 5 5
4 4 4 5 5 5
4 4 4 5 5 5

*/

.grid-container{
    display: grid;
    width: 40vw;
    justify-content: center;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
    padding: 20px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.art_item:nth-child(5n-4){
    grid-column: span 4;
    grid-row: span 4;
}
.art_item:nth-child(5n-3),
.art_item:nth-child(5n-2){
    grid-column: span 2;
    grid-row: span 2;
}

.art_item:nth-child(5n-1),
.art_item:nth-child(5n){
    grid-column: span 3;
    grid-row: span 3;
}


:root{
    --color1 : rgb(170, 156, 156);
}

body{
    background-color: black;
}

.art_img{
    width: 100%;
}

figure{
    display: flex;
    align-items: center;
    background-color: var(--color1);
    margin: 0;
    border: 10px solid var(--color1);
}

/* .more-info{
    background-color: aliceblue;
    padding: 10px;
    width: 100%;
    margin-top: -5px;
} */

.modal {
    z-index: 1;
    position: fixed;
    left: 0px;
    top: 0;
    padding: 10px;
    height: 100vh;
    width: 98vw;
    background-color: black;
    display: flex;
    justify-content: center;
}
#galleryModal{
    display: none;
}

.close{
    z-index: 2;
    text-decoration: none;
}

.content{
    position: relative;
    display:grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: auto;
    grid-template-areas: 
    'prev slide next'
    'caption caption caption';

    width:  98%;
    height: 85%;
    background-color: transparent;
    object-fit: contain;

}


.close{
    grid-area: close;
    color: white;
    position: absolute;
    top: 20px;
    right: 30px;
    font-weight: 300;
    font-size: 20pt;
}

.slide {
    grid-area: slide;
    display: none;
    max-height: 100%;
    img{
        object-fit: contain;
        height: 75vh;
    }
}

.prev,
.next {
    position: absolute;
    font-size: 20pt;
    text-decoration: none;
    color: white;
}

.prev{
    grid-area: prev;
}

.next {
    grid-area: next;
    right: 0;
}

.caption-container{
    grid-area: caption;
    text-align: center;
    background-color: black;
    color: white;
}

.more-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: start;
    .art-info{
        width: 30vw;
    }
    .blurb{
        padding-left: 10px;
        width: 60vw;
    }
}